body {
  background-color: #F7F4F0;
  color: #000;
  font-family: 'Roboto', sans-serif; }

h3 {
  font-weight: 900; }

p {
  font-size: 14px; }

.white {
  background-color: white; }

.container {
  max-width: 620px; }

a {
  color: #006833;
  text-decoration: underline; }
  a:hover, a:focus {
    color: #004f26; }

ul {
  list-style: none; }

button {
  border-radius: 0;
  -webkit-appearance: none;
  border: none;
  background: none; }

button.primary {
  background-color: #49639C;
  color: #FFF;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s ease-out 0s;
  border-radius: 1px;
  font-weight: 900;
  margin-top: 20px; }
  @media all and (max-width: 480px) {
    button.primary {
      width: 100%;
      display: block; } }

header .header-bar {
  background-color: #4D4D4D;
  height: 33px; }
  header .header-bar button {
    height: 33px;
    background-color: #E6E6E6;
    padding: 0 11px; }
    header .header-bar button:hover {
      background-color: #d9d9d9; }
  header .header-bar a {
    color: #FFF;
    line-height: 33px;
    font-size: 10px;
    text-decoration: none; }
    header .header-bar a:first-child {
      padding-right: 18px; }

header .logo-bar {
  padding: 12px 0;
  background-color: #FFF; }

.tara-logo {
  background-image: url("/images/logo.svg");
  background-repeat: no-repeat;
  height: 48px; }

.method-block {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  padding: 0 15px 15px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.35); }
  @media screen and (max-width: 766px) {
    .method-block {
      padding: 0 10px 10px; } }
  .method-block .id-card {
    background-image: url("/images/idkaart.svg");
    background-repeat: no-repeat;
    height: 67px;
    margin-top: 2em; }
  .method-block .mob-id {
    background-image: url("/images/mobiilid.svg");
    background-repeat: no-repeat;
    height: 67px;
    margin-top: 2em;
    margin-left: 2em; }
    @media screen and (max-width: 766px) {
      .method-block .mob-id {
        margin-left: 0;
        height: 40px; } }
  .method-block .method-chevron {
    margin-top: 3.5em; }
    @media screen and (max-width: 766px) {
      .method-block .method-chevron {
        margin-top: 20px; } }

.block-hr {
  width: 100%;
  height: 1px;
  position: relative;
  z-index: 1;
  background: #FFF; }
  .block-hr:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 2.5%;
    height: 1px;
    width: 94%;
    border-top: 1px solid #D5D5D5; }

.method-block-collapsible {
  padding: 15px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.35); }

#collapseOne .white div a {
  margin-top: 3em; }

.back-btn {
  color: #000; }

footer {
  padding-bottom: 20px; }
  footer #footer.container {
    display: inline; }
  footer hr {
    border-top: 0.5px solid #999999;
    margin-bottom: 5px; }
  footer .row {
    margin-left: 0;
    margin-right: 0; }

.eu-logo {
  background-image: url("/images/EU.svg");
  background-repeat: no-repeat;
  height: 29px;
  margin-left: -15px;
  margin-top: 1.5em; }

ul.footer-links {
  text-align: right;
  list-style-position: inside;
  padding-left: 0;
  margin-right: -15px;
  margin-left: -15px; }
  ul.footer-links li:first-child {
    padding-bottom: 4px; }
  @media screen and (max-width: 766px) {
    ul.footer-links {
      list-style: none;
      text-align: left; } }

/*# sourceMappingURL=style.css.map */